/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Common */

.web-app {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.wrapper {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    overflow: auto;
    padding: 50px 30px;

}

.user-cam {
    background-image: url(../img/Lorempic.jpg);
    width: 246px;
    height: 146px;
    display: flex;
    align-items: end;
}

.username {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
}

.speaker, .move {
    color: white;
    padding: 5px;
    background-color: rgb(74 74 74);
    position: fixed;
    border-radius: 5px;
}

.move {
    right: 20px;
    top: 0;
}

.speaker {
    top: 0;
    right: 50px;
}

/* Footer */

.f-wrapper {
    height: 100px;
    background-color: rgb(34 34 34);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}

.left-col {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 20%;
}

.action-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    padding-top: 5px;
}

.middle-col {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-col {
    display: flex;
    justify-content: end;
    width: 20%;
}

.end {
    color: red;
    text-align: center;
    line-height: 85px;
    background-color: rgb(74 74 74);
    padding: 0 20px;
    
}

.fa-share-from-square {
    color: rgb(75 200 0);
}



